{
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "plugins": ["stylelint-prettier"],
  "rules": {
    "prettier/prettier": true,
    "declaration-empty-line-before": "never",
    "selector-class-pattern": "^([a-zA-Z0-9]*)(-[a-zA-Z0-9]+)*$"
  }
}